bson==0.5.10
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
crawlerdetect==0.1.4
device-detector==0.10
dnspython==1.16.0
Flask==1.1.2
Flask-Track-Usage==2.0.0
gunicorn==20.0.4
httpagentparser==1.9.0
idna==2.10
ipwhois==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyasn==1.6.0b1
pygeoip==0.3.2
python-dateutil==2.8.1
python-geoip==1.2
python-geoip-geolite2==2015.303
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
six==1.15.0
urllib3==1.25.9
Werkzeug==1.0.1
