bandit==1.6.2
beautifulsoup4==4.9.1
Brotli==1.0.7
bs4==0.0.1
bson==0.5.10
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
crawlerdetect==0.1.4
cryptography==2.9.2
device-detector==0.10
dnspython==1.16.0
Flask==1.1.2
Flask-Compress==1.5.0
Flask-PyMongo==2.3.0
Flask-Track-Usage==2.0.0
gitdb==4.0.5
GitPython==3.1.7
gunicorn==20.0.4
httpagentparser==1.9.0
idna==2.10
importlib-metadata==1.7.0
ipwhois==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
pbr==5.4.5
pyasn==1.6.0b1
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pygeoip==0.3.2
pymongo==3.10.1
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-geoip==1.2
python-geoip-geolite2==2015.303
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
stevedore==3.2.0
ua-parser==0.10.0
udger==4.0.1
urllib3==1.25.9
user-agents==2.1
Werkzeug==1.0.1
zipp==3.1.0
